@model WebApplication1.Models.HistoryModel
@{
    ViewBag.Title = "Chart History";
}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>

<script>
    var chartData; // globar variable for hold chart data
    var intervalTime = 90000;

    google.charts.load('current', { 'packages': ['corechart'] });
    // change chart type
    function FirstMetToGetDataHistory(chartType) {
        $.ajax({
            url: '/Chart/GetChartDataHistory',
            data: "",
            dataType: "json",
            type: "GET",
            contentType: "application/json; chartset=utf-8",
            success: function (data) {
                chartData = data;//.JSONList;
            },
            error: function () {
                alert("Error loading data! Please try again.");
            }
        }).done(function () {
            // after complete loading data
            google.setOnLoadCallback(function () { drawChart(chartType); });
            drawChart(chartType);
        });
    }
    //
    function drawChart(chartType) {
        var data = new google.visualization.DataTable();

        data.addColumn('string', 'Date');
        data.addColumn('number', 'Pośrednio Produkcyjne');
        data.addColumn('number', 'Bezpośrednio Produkcyjne');

        // sample data: var data = [{ Date: "20140124", Visitors: "873" }, { Date: "20140125", Visitors: "875" }];
        for (var i = 0; i < chartData.length; i++) {
            data.addRow(chartData[i]);
        }

        var options = {
            title: "History date- must be defined date and other params",
            //pointSize: 5,
            hAxis: { title: 'Date Time', titleTextStyle: { color: 'red' } },
            bar: { groupWidth: '50%' },
            isStacked: true,
            trendlines: {
                0: {
                    color: 'purple',
                    lineWidth: 10,
                    opacity: 0.2,
                    type: 'exponential'
                }
            },
            pieHole: 0.4,
        };
        //ColumnChart
        if (chartType == 'LineChart') {
            var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
        }
        if (chartType == 'ColumnChart') {
            var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
        }
       
        // Wait for the chart to finish drawing before calling the getImageURI() method.
        google.visualization.events.addListener(chart, 'ready', function () {
            document.getElementById('png').outerHTML = '<a href="' + chart.getImageURI() + '" download="history' + Date.now() + '"><img border="0" src="/Imges/Wykres.png" alt="Download" width="71" height="51">Printable version</a>';
        });

        chart.draw(data, options);
    }
    //

    $(document).ready(FirstMetToGetDataHistory('ColumnChart'));

    setInterval(FirstMetToGetDataHistory, intervalTime);

    function startTimer(duration, display) {
        var timer = duration, minutes, seconds;
        setInterval(function () {
            minutes = parseInt(timer / 60, 10)
            seconds = parseInt(timer % 60, 10);

            minutes = minutes < 10 ? "0" + minutes : minutes;
            seconds = seconds < 10 ? "0" + seconds : seconds;

            display.textContent = minutes + ":" + seconds;

            if (--timer < 0) {
                timer = duration;
            }
        }, 1000);
    }

    window.onload = function () {
        var timeInMinutes = intervalTime / 1000, // 60* 5
            display = document.querySelector('#timer');
        startTimer(timeInMinutes, display);
    }

    $(document).ready(function () {
        $('#myselect').change(function () {
            //alert($(this).val());
            console.log($("#myselect").val());
            FirstMetToGetDataHistory($("#myselect").val());
        });
    });
</script>
<div align="right">
    Next refresh<div id="timer">mm:ss:ms</div>
</div>
<div style="grid-template-columns: 30% 40%;">
    <div id='png'></div>
    <div>
        <select id="myselect">
            <option value="ColumnChart" selected="selected">Column</option>
            <option value="LineChart">Line</option>
        </select>
    </div>
</div>
<div id="chart_div" style="width: 1900px; height: 900px; float:left; margin-left:0px;">
</div>
