@model WebApplication1.Models.HistoryModel
@{
    ViewBag.Title = "Chart History";
}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script src="~/js/charts/main_chart.js"></script>
<script src="~/js/charts/chart_history.js"></script>


<div class="row">
    <div class="col-sm" style="background-color:yellow;">25%</div>
    <div class="col-sm" style="background-color:orange;">25%</div>
    <div class="col-sm" style="background-color:yellow;">25%</div>
    <div class="col-sm" style="background-color:orange;">25%</div>
</div>
<div align="right">
    Next refresh<div id="timer">mm:ss:ms</div>
</div>
<div style="grid-template-columns: 30% 40%;">
    <div id='png'></div>
    <div>
        <select id="myselect">
            <option value="ColumnChart" selected="selected">Column</option>
            <option value="LineChart">Line</option>
        </select>
    </div>
</div>
<div id="chart_div" style="width: 1900px; height: 900px; float:left; margin-left:0px;">
</div>
