@model WebApplication1.Models.HistoryModel
@{
    ViewBag.Title = "Temporary charts";
}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="~/js/charts/chart_example.js"></script>

<div class="row">
    <div class="col-md-4">
        <h2>Column Charts</h2>
        <p>
            Column charts desc.
        </p>
        <div id="chart_div"></div>
    </div>
    <div class="col-md-4">
        <h2>Pie charts</h2>
        <p>
            Pie charts desc.
        </p>
        <div id="chart_div_pie"></div>
    </div>
    <div class="col-md-4">
        <h2>Line Charts</h2>
        <p>
            Line charts desc.
        </p>
        <div id="chart_div_line"></div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Area charts</h2>
        <p>
            Area image charts desc.
        </p>
        <div id="chart_div_area"></div>
    </div>
    <div class="col-md-4">
        <h2>Annotation charts</h2>
        <p>
            Annotation charts desc.
        </p>
        <div id="chart_div_Annotation"></div>
    </div>
    <div class="col-md-4">
        <h2>Bubble Charts</h2>
        <p>
            Bubble charts desc.
        </p>
        <div id="chart_div_bubble"></div>
    </div>
</div>
