@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Apllikacja służaca do przetwarzania danych z zapytań SQL na wykresy z wykorzystaniem GoogleCharts. </br>Odświeżanie domyślne to 5 min</p>
<script>


</script>