@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Konrad Dżbik<br />
    Wrocław,<br />
    <abbr title="Phone">P:</abbr>
    533276339
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support&Marketing@example.com">dzbik.konrad@gmail.com</a><br />
</address>